services:
  backend-php:
    build: ./backend
    ports:
      - "8000:80"
    environment:
      - DB_HOST=db
  frontend-js:
    image: nginx:alpine
    ports:
      - "3000:80"
    volumes:
      - ./frontend:/usr/share/nginx/html
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: flynow_db